<table id="roles_explanation_table">
  <thead>
    <tr>
      <th></th>
      <th>Authenticated User</th>
      <th>Site Manager</th>
      <th>Department Manager</th>
      <th>Administrator</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>View device status details for sites in their department</th>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>View statistics for sites in their department</th>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>View device logs for sites in their department</th>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Add/remove authenticated users to/from their department</th>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Add/edit/remove sites in their department</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Enable/disable devices in their department</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Enable/disable sites in their department</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Remove devices in their department</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>View orphaned devices</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Add/remove site managers to/from their department</th>
      <td></td>
      <td></td>
      <td>Yes</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Add/edit/remove departments</th>
      <td></td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Remove orphaned devices</th>
      <td></td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>
    <tr>
      <th>Add/remove department managers</th>
      <td></td>
      <td></td>
      <td></td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>