<div id="users"><%= render 'users' %></div>

<%= link_to "Add", new_user_path, :class => "button" %>

<a id="roles_explanation_button">Role Definitions</a>

<aside id="roles_explanation">
  <%= render :partial => 'roles_explanation' %>
</aside>