<table id="users_table">
  <thead>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Department</th>
    <th>Role <span class="roles_explanation_button_inline">(<a>?</a>)</span></th>
    <th>Logins</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= link_to "Add", new_user_path, :class => "button" %>

<a id="roles_explanation_button">Role Definitions</a>

<aside id="roles_explanation">
  <%= render :partial => 'roles_explanation' %>
</aside>