<%= form_for(@department) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
    <%= link_to "Cancel", departments_path, :class => "button" %>
  </div>
<% end %>