$main_blue: #3399CC;
$light_blue: #A6D3FD;
$lightest_blue: #87C7E6;
$dark_blue: #437D99;
$darkest_blue: #115F85;
$page_bg: #0F2835;
$page_bg2: #001621;
$main_gold: #FFC736;
$light_gold: #FFD568;
$lightest_gold: #FFE090;
$dark_gold: #BFA04E;
$darkest_gold: #A67D12;
