// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.api {
  #api_explanation {
    font-size: 12px;
    .subheader {
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
      text-decoration: underline;
    }
    .sample_link {
      display: block;
      margin: 25px;
      color: $light_blue;
      span {
        font-style: italic;
        color: $main_gold;
      }
    }
    code {
      display: block;
      margin: 25px;
      color: $light_blue;
    }
    textarea {
      display: block;
      width: 100%;
      background-color: transparent;
      color: $light_blue;
      margin: 25px;
    }
  }
  #api_reference {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
      font-variant: small-caps;
      text-decoration: underline;
      margin-bottom: 30px;
    }
    .department_block {
      margin-bottom: 20px;
      .site_block {
        display: inline-block;
        padding: 10px;
        width: 200px;
        border: 1px solid $light_blue;
        span {
          display: block;
          text-align: center;
        }
      }
    }
  }
}