// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.departments {
	.department_summary {
		width: 350px;
		height: 350px;
		margin: 0 40px 60px 0;
		float: left;
		position: relative;
		
		.status_chart {
			height: 350px;
			width: 350px;
			position: fixed;
		}
		.department_data {
			width: 80%;
			margin: 105px auto 0;
			position: relative;
			.department_title {
				height: 40px;
				text-align: center;
				font-size: 18px;
			}
			.label_row {
				height: 40px;
				font-size: 20px;
				text-align: center;
				margin: 0 auto;
				overflow: hidden;
				.label {
					display: inline-block;
					width: 75px;
					height: 40px;
					font-size: 20px;
					font-variant: small-caps;
					overflow: hidden;
					line-height: 40px;
					vertical-align: top;
				}
				div.mac_icon, div.windows_icon {
					display: inline-block;
					width: 75px;
					height: 40px;
				}
			}
			.data_row {
				height: 40px;
				margin: 0 auto;
				text-align: center;
				div {
					display: inline-block;
					width: 75px;
					height: 40px;
					line-height: 40px;
					vertical-align: middle;
					font-size: 26px;
				}
			}
		}
	}
	.site_summary {
		width: 350px;
		height: 350px;
		margin: 0 40px 60px 0;
		float: left;
		position: relative;
		
		.status_chart {
			height: 350px;
			width: 350px;
			position: fixed;
		}
	}
}