// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users {
  #users_table {
    width: 80%;
    margin-bottom: 20px;
    tr:nth-child(even) {
      box-shadow: 0 1px 0 rgba(255,255,255,0.15), 0 2px 4px rgba(0,0,0,0.2) inset, 0 0 12px rgba(255,255,255,0.1);
      td {
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15), 0 2px 4px rgba(0,0,0,0.2) inset, 0 0 12px rgba(255,255,255,0.1);
      }
    }
  }
  #roles_explanation_button {
    display: block;
    margin-top: 20px;
  }
  .roles_explanation_button_inline, .roles_explanation_button_inline a {
    font-size: 12px;
    color: #FFD568;
    letter-spacing: 3px;
  }
  #new_user, .edit_user {
    input[type="text"], select {
      background-color: rgba(0,0,0,0.1);
      box-shadow: 0 1px 0 rgba(255,255,255,0.15), 0 2px 4px rgba(0,0,0,0.2) inset, 0 0 12px rgba(255,255,255,0.1);
      border: 0;
      padding: 10px;
      width: 230px;
    }
  }
}
#roles_explanation_table {
  width: 1000px;
  height: 500px;
  tbody th {
    border-bottom: none;
    border-right: 1px dotted #3399CC;
    font-variant: normal;
  }
}