<%= will_paginate @logs %>

<table id="logs_table">
  <thead>
    <th>Computer</th>
    <th>Action</th>
    <th>Site</th>
    <th>Virtual Machine</th>
    <th>User</th>
    <th>Login Time</th>
    <th>Logout Time</th>
  </thead>
  <tbody>
    <%= render @logs %>
  </tbody>
</table>

<%= will_paginate @logs %>
